node_modules/
test/
.idea/
.babelrc
.npmignore
.gitignore
.vscode/
examples/
.travis.yml
jest.config.js
setupTests.ts
webpack.config.js
src/*.spec.ts*
dist/examples
dist/src/*.spec.*
dist/src/*.stories.*