node_modules/
test/
.idea/
.babelrc
.npmignore
.gitignore
.vscode/
examples/
.travis.yml
jest.config.js
setupTests.ts
src/*.spec.ts*
src/*.stories.ts*
dist/test
dist/*.spec.*
dist/*.stories.*
.github
*.tgz