name: react-i18n-currency-input build
on: 
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:
  merge_group:
concurrency: 
  group: build--${{ github.head_ref || github.ref }} # if it's not a PR, we'll use the main ref
  cancel-in-progress: true
jobs:
  test:
    name: "Run tests"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [24.x, 22.x, 20.x]
        react: [16, 17, 18, 19]
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node.js environment
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'
      - run: yarn install --immutable
      - name: verify types
        run: yarn lint
      - name: run jest
        run: yarn jest-on-react-${{ matrix.react }}

  build_package:
      name: "Build package"
      runs-on: ubuntu-latest
      permissions:
        contents: read
      steps:
      - uses: actions/checkout@v5
      
      - uses: ./.github/actions/reusable_build
  
      - name: build package locally
        run: yarn pack
      - name: Archive the output of yarn pack
        uses: actions/upload-artifact@v4
        with: 
          name: npm_package
          path: '*.tgz'
      - name: Archive cjs artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist
      - name: Archive esm artifacts
        uses: actions/upload-artifact@v4
        with:
          name: esm
          path: esm
